extends _template.pug
include ../components/benefits/benefits
include ../components/start-investing/start-investing
include ../components/investment-places/investment-places
include ../components/investment-example/investment-example
include ../components/compare/compare
include ../components/conditions/conditions
include ../components/investment-options/investment-options
include ../components/questions/questions
include ../components/stock/stock
include ../components/glossary/glossary
include ../components/bso/bso
include ../components/evraz/evraz

block body
  +benefits()
  +start-investing()
  +investment-places()
  +investment-example()
  +compare()
  +b.SECTION.section._size_small._blue_gradient._has_no-offset-bottom
    +conditions()
    +investment-options()
  +questions()
  //- +stock()
  //- +glossary()
  //- +bso()
  +evraz()

block scripts
  script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
