.footer
  &__top-content
    display flex
    justify-content space-between
    align-items center
    padding-top 28px
    padding-bottom 28px

  &__bottom-content
    border-top 1px solid rgba(109,121,134, 0.1)
    padding 45px 0 65px 0

  &__content
    display inline-flex
    align-items center
    margin-right 59px

    .header-content
      &__text
        color #172A3F

      &__title
        color #172A3F

  &__social-buttons
    .social-buttons
      &__button
        border 1px solid rgba(109,121,134, 0.3)
        box-shadow none
        margin-right 8px

  &__col
    display flex

  &__licensy
    color rgba(109,121,134,0.5)
    font-size $fz-xsmall
    line-height 14px
    margin-bottom 40px

  &__definition
    opacity 0.5
    color #6D7986
    font-size $fz-xsmall
    line-height 18px
    margin-bottom 40px

  &__policy
    opacity 0.5
    color #6D7986
    font-size 13px
    line-height 26px
