include ../button-invest/button-invest
include ../header-content/header-content
include ../social-buttons/social-buttons

mixin footer(data)
  +b.FOOTER.footer
    +e.top-content.container
      +e.col
        +e.content
          +header-content()
        +e.social-buttons
          +social-buttons
      +e.col
        +e.button
          +button-invest('Начать инвестировать')
    +e.bottom-content
      .container
        +e.licensy © 2001—2017 Альфа-Банк. Генеральная лицензия ЦБ РФ №1326.
        +e.definition •По данным Банки.ру на 1 апреля средняя ставка по депозитам сроком на один год в рублях - 6,26%, в долларах США - 1,24%, в евро - 0,63%. Средневзвешенные процентные ставки по вкладам по 30 крупнейшим банкам до 1 года кроме ''до востребования'' в рублях – 5,48, в долл. США – 0,76, в евро – 0,28%. Источник ЦБ Р Ф.
        +e.policy Эмитент VTB Eurasia, еврооблигации - сертификаты участия в кредите (LPN - Loan participation notes) бессрочные ISIN XS0810596832. Доходность к погашению 6,2% (округление доходности 6,22%) рассчитана к дате 06/12/2022, когда эмитент имеет право объявить досрочный выкуп облигаций и цене 113,98% от номинала на 20.11.2017 без учета комиссий, валютной переоценки, налогов и других расходов.Эмитент Gaz Capital, еврооблигации — сертификаты участия в кредите (LPN — loan participation notes) с погашением в 2034 году, серия 2, ISIN XS0191754729. Доходность к погашению 5,35% при цене 135,64% от номинала на 20.11.2017 без учета комиссий, валютной переоценки, налогов и других расходов.Эмитент Минфин РФ, облигации федерального займа с переменным купонным доходом, документарные именные, выпуск 29006. ISIN RU000A0JV4L2. Доходность к погашению 8,4% (округление доходности 8,41%) рассчитана при цене 108,36% от номинала на 20.11.2017 без учета комиссий, налогов и других расходов.При расчете доходности к погашению по ОФЗ с переменным купоном используется допущение, что все будущие переменные купоны будут равны последнему опубликованному купону. Фактическая доходность к погашению будет зависеть от значений будущих купонов и будет отличаться от указанной расчетной величины.Эмитент Российская Федерация, государственные облигации внешнего облигационного займа РФ с погашением в 2028 году, документарные на предъявителя, выпуск VII. ISIN XS0088543193. Доходность к погашению 4% (округление доходности 4, 04%) рассчитана при цене 174,38% от номинала на 20.11.2017 без учета комиссий, налогов и других расходов.Эмитент ЕвразХолдинг Финанс, биржевые облигации документарные на предъявителя, серии 001P-01R, ISIN RU000A0JWBH2. Доходность к погашению 8,3% (округление доходности 8,32%) рассчитана при цене 112,75% от номинала на 20.11.2017 без учета комиссий, налогов и других расходов.Эмитент Государственная транспортная лизинговая компания ПАО, облигации биржевые процентные документарные на предъявителя, серии 001Р-04. ISIN RU000A0JXPG2.Доходность к погашению 8,25% рассчитана при цене 108,02% от номинала на 20.11.2017 без учета комиссий, налогов и других расходовДоходности приведены для примера. Следует внимательно ознакомиться с рисками инвестирования.Открытие брокерского счета осуществляется в любом отделении АО "АЛЬФА-БАНК".Покупка и продажа облигаций осуществляется в мобильном приложении "АЛЬФА-БАНК" и отделениях АО "АЛЬФА-БАНК".Комиссии за сделку взимаются в соответствии с Тарифами АО "АЛЬФА-БАНК" на брокерские услуги, а также с Условиями осуществления депозитарной деятельности в АО "АЛЬФА-БАНК". Налоговая база рассчитывается в рублях.АО "АЛЬФА-БАНК". Генеральная лицензия Банка России №1326 от 16.01.2015.Лицензия ФСФР на депозитарную деятельность №177-04148-000100 от 20.12.2000.Лицензия ФСФР на брокерскую деятельность №177-03471-100000 от 07.12.2000.

