mixin evraz()
  +b.popup(data-modal='bso')
    +e.content
      +e.container.container
        +e.close-button._grey
        +e.body
          +b.evraz
            +e.header
              +e.type Эмитент
              +e.row
                +e.block
                  +e.logo
                    include ../../static/img/svg/evraz-logo.svg
                  +e.col
                    +e.name Евраз
                    +e.A.link(href='#') www.evraz.com/ru/
                +e.button
                  +button-invest('Купить')
            +e.body
              +e.title О компании
              +e.text Евраз– это глобальная металлургическая и горнодобывающая компания с активами в Российской Федерации, США, Канаде, Чехии, Италии, Казахстане. В 2017 году ЕВРАЗ произвел 14 млн тонн стали. Консолидированная выручка ЕВРАЗа за 2017 г. составила 10 827 млн долл. США. Евраз выпустил облигации на международных и внутренних рынках капитала, что говорит о доверии инвесторов к компании.
              +e.text Купон по облигациям ЕвразХолдинг Финанс выплачивается раз в полгода и рассчитывается ежедневно. Поэтому продать бумаги можно в любой день без потери накопленных процентов. При этом плановое погашение еврооблигации назначено на март 2021 года.
