.evraz
  padding-bottom 40px

  &__link
    color rgba(109,121,134,0.4)
    font-size 15px
    line-height 18px
    text-decoration none
    $transition(color)

    &:hover
      color rgba(109,121,134,1)

  &__header
    border-bottom 1px solid rgba(109,121,134, 0.2)
    padding 41px 105px 32px

  &__type
    opacity 0.4
    color #6D7986
    font-size $fz-medium
    font-weight 500
    line-height 19px
    margin-bottom 20px

  &__block
    display flex
    align-items center

  &__logo
    margin-right 32px

    svg
      height 80px
      width 80px

  &__name
    color #4A4A4A
    font-size 28px
    font-weight 300
    line-height 33px

  &__row
    align-items center
    display inline-flex
    justify-content space-between
    width 100%
    position relative
    z-index 1

  &__body
    padding 40px 105px 0
    overflow auto
    max-height 500px

  &__title
    color #172A3F
    font-size $fz-xxl
    font-weight 300
    line-height 28px
    margin-bottom 24px

  &__text
    color #172A3F
    font-size 15px
    font-weight 300
    line-height 28px
    margin-bottom 40px

  &__button
    .button-invest
      padding 20px 48px
