$transition-duration = .3s

.page-header
  background url('%=static=%/general/ab-invest-mainscreen-3.png') no-repeat
  background-size cover
  background-position bottom
  position relative

  &__footer
    border-top 1px solid #fcfcfc

    +below('sm')
      display none

  // &__navbar

  &__title
    color #FFF
    font-size $fz-triple
    line-height 42px
    font-weight 100
    margin-bottom 24px
    width 100%

    +above('sm')
      width 50%
    +above('md')
      font-size $fz-giant
      line-height 48px
      width 42%
    +above('lg')
      font-size $fz-biggest
      line-height 66px

  &__button
    padding-bottom 45px

    +above('sm')
      padding-bottom 92px

  &__text
    color #FFFFFF
    font-size $fz-large
    line-height 26px
    font-weight 300
    margin-bottom 45px
    width 100%

    +above('sm')
      font-size $fz-large
      line-height 26px
      margin-bottom 60px
      width 50%
    +above('md')
      font-size $fz-large
      line-height 26px
      width 42%
    +above('lg')
      font-size $fz-large
      line-height 26px

  &__top-content
    position relative
    display flex
    justify-content space-between
    flex-wrap wrap
    margin-bottom 60px

    +above('sm')
      margin-bottom 100px

  &__logo
    width 220px
    height 96px
    border-radius 0 0 6px 6px
    background-color #F03226
    flex-shrink 0
    display flex
    align-items center
    justify-content center
    // +below('sm')
    // +below('xs')

  &__col
    display flex
    align-items center
    z-index 1

    // +above('sm')
    //   min-height 60px

    // +below('md')
    //   ^[0]_is_shown &
    //     width 100%

    // +below('sm')
    //   width 100%
    //   justify-content space-between

  &__content
    margin-right 55px
    margin-left auto

    +below('sm')
      margin-right 15px

@keyframes fade-in
  0%
    opacity 0

  100%
    opacity 1

@keyframes fade-out
  0%
    opacity 1

  100%
    opacity 0
