.header-content
  &__title
    display block
    font-size $fz-medium
    line-height 19px
    color #fff
    font-weight 500
    text-decoration none
    transition 0.3s ease text-decoration

    &:hover
      text-decoration underline

  &__text
    color #fff
    font-size $fz-small
    line-height 15px
