include ../section-title/section-title
include ../button-invest/button-invest

mixin investment-example()
  +b.SECTION.section._dark_gradient
    +b.investment-example.container
      +section-title('Рассмотрим на примере', 'white')
      +e.title.wow.fadeInUp Инвестиции vs Депозит
      +b.row.examples-wrapper
        +b.column._xs-12._sm-12._md-6._lg-6.wow.fadeInUp
          +b.invest-info
            +e.block
              +e.title Вложение в депозит
              +e.tabs-currency
                +e.A.currency-button._active(href='#') ₽
                +e.A.currency-button(href='#') $
                +e.A.currency-button(href='#') €
            +e.block
              +e.data
                +e.text Сумма
                +e.value 100 000 ₽
              +e.data
                +e.text Срок
                +e.value 1 год
              +e.data
                +e.text Купонный доход
                +e.value 5,55 % годовых
            +e.result-block
              +e.data._row
                +e.text Сумма в конце срока
                +e.result-value 105 550 ₽
            +e.A.definition(href='#' data-tooltip title='Вложение в депозит') ?

        +b.column._xs-12._sm-12._md-6._lg-6.wow.fadeInUp
          +b.invest-info
            +e.block
              +e.title Инвестиции в облигации
              +e.tabs-currency
                +e.A.currency-button._active(href='#') ₽
                +e.A.currency-button(href='#') $
                +e.A.currency-button(href='#') €
            +e.block
              +e.data
                +e.text Сумма
                +e.value 100 000 ₽
              +e.data
                +e.text Срок
                +e.value 1 год
              +e.data
                +e.text Купонный доход
                +e.value 12,6 % годовых
            +e.result-block
              +e.data._row
                +e.text Сумма в конце срока
                +e.result-value 112 600 ₽
              +button-invest('Инвестировать')(class='invest-info__button')
            +e.A.definition(href='#' data-tooltip title='Инвестиции в облигации') ?
      +e.info Данные по депозиту «Победа+», без пакета и капитализации процентов, при сумме инвестирования от 10 тыс. руб. сроком на 1 год.

