mixin questions-slider()
  +b.questions-slider.swiper-container
    +e.slides.swiper-wrapper
      +e.item.swiper-slide
        +e.title Нужно ли платить налог с прибыли?
        +e.text Брокерский счет является своего рода виртуальным кошельком, открытым инвестором у выбранного брокера. Брокер выступает лицензированным агентом, действующим в интересах своего клиента. Он может оказывать консультации, выполнять посреднические функции, получая за это определенную комиссию. При этом брокер не несет ответственность за решения, принятые клиентом (если используется классический, а не доверительный счет).
        +e.button
          +button-invest('Читать ответ')
      +e.item.swiper-slide
        +e.title Могу ли я получить облигацию физически?
        +e.text Брокерский счет является своего рода виртуальным кошельком, открытым инвестором у выбранного брокера. Брокер выступает лицензированным агентом, действующим в интересах своего клиента. Он может оказывать консультации, выполнять посреднические функции, получая за это определенную комиссию. При этом брокер не несет ответственность за решения, принятые клиентом (если используется классический, а не доверительный счет).
        +e.button
          +button-invest('Читать ответ')
      +e.item.swiper-slide
        +e.title Каковы последствия открытия счетов?
        +e.text Брокерский счет является своего рода виртуальным кошельком, открытым инвестором у выбранного брокера. Брокер выступает лицензированным агентом, действующим в интересах своего клиента. Он может оказывать консультации, выполнять посреднические функции, получая за это определенную комиссию. При этом брокер не несет ответственность за решения, принятые клиентом (если используется классический, а не доверительный счет).
        +e.button
          +button-invest('Читать ответ')
      +e.item.swiper-slide
        +e.title Каковы последствия открытия счетов?
        +e.text Брокерский счет является своего рода виртуальным кошельком, открытым инвестором у выбранного брокера. Брокер выступает лицензированным агентом, действующим в интересах своего клиента. Он может оказывать консультации, выполнять посреднические функции, получая за это определенную комиссию. При этом брокер не несет ответственность за решения, принятые клиентом (если используется классический, а не доверительный счет).
        +e.button
          +button-invest('Читать ответ')
    +e.controls-wrapper.container
        +e.bullets
