.social-buttons
  display flex

  &__button
    border 0
    border-radius 4px
    background-color #FFFFFF
    box-shadow 0 2px 24px 0 rgba(0,0,0,0.08), 0 2px 4px 0 rgba(181,187,194,0.1)
    display flex
    align-items center
    justify-content center
    margin-right 14px
    height 60px
    width 60px

    &:hover
      svg
        #Design
          opacity 1
          transition 0.3s ease opacity

    &:last-child
      margin-right 0
