mixin social-buttons()
  +b.social-buttons
    +e.BUTTON.button
      +e.icon
        include ../../static/img/svg/apple.svg
    +e.BUTTON.button
      +e.icon
        include ../../static/img/svg/googlePlay.svg
