.questions
  position relative
  margin-bottom 42px

  &__content
    padding-left 76px

  &__title
    color #172A3F
    font-size $fz-triple
    font-weight 100
    line-height 47px
    margin-bottom 16px

  &__text
    color #546271
    font-size $fz-large
    font-weight 300
    line-height 26px
    max-width 44%

  &__icon
    top 2px
    left 15px
    position absolute
