mixin glossary()
  +b.popup(data-modal='glossary')
    +e.content
      +e.container.container
        +e.close-button._grey
        +e.body
          +b.glossary
            +e.title Глоссарий
            +e.tabs
              +e.A.tab._active(href='#') Облигация
              +e.A.tab(href='#') ПИФы
              +e.A.tab(href='#') Отделение банка
            +e.text-wrapper <b>Облигация</b> – один из самых стабильных инструментов для инвестора, который позволяет получать доходность раз в квартал или полгода. Облигация по своей сути, это долговая расписка компании, которая привлекает средства на определенный период времени. По истечении этого периода, компания обязуется выкупить облигацию по номинальной стоимости, выплатив дополнительный доход.
              | <br><br><b>На российском фондовом рынке есть несколько типов облигаций:</b><br><br>
              | <b>• Государственные</b><br>
              | Выплаты гарантированы Правительством РФ.<br>
              | <b>• Корпоративные</b><br>
              | Выплаты гарантированы компанией-эмитентом. Для оценки надежности корпоративных облигаций эксперты Банка анализируют отчетность компаний и определяют устойчивость их финансового положения.<br><br>
              | <b>Общий доход облигаций состоит из двух выплат:</b><br>
              | 1.Купонный доход<br>
              | 2.Раз в квартал или полгода компания регулярно выплачивает проценты за пользование вашими денежными средствами<br>
              | 3.Раз в квартал или полгода компания регулярно выплачивает проценты за пользование вашими денежными средствами<br>
              | 4.Доходность к погашению<br>
              | 5.Дополнительный доход выплачивается, когда компания выкупает свои облигации по номинальной стоимости<br><br>
              | <b>Облигации</b> – инструмент для сохранения сбережений и получения стабильного дохода. Покупая облигации, инвестор дает компании деньги в долг под процент.<br>
              | <b>Купон</b> – это ставка процента к номинальной стоимости, выплачиваемая эмитентом облигации её владельцу. Выражается в % годовых.<br>
              | <b>Доходность к погашению</b> – это доход (купонные выплаты плюс прирост капитала), получаемый владельцем при условии, что он сохранит ценную бумагу до даты погашения.<br>
              | <b>Дата погашения</b> – это день, когда эмитент облигации возвращает свой долг владельцам облигации.<br>
              | <b>Номинал</b> – это сумма денежных средств, которую эмитент облигации выплатит инвестору по окончании срока обращения ценной бумаги.<br>
              | <b>НКД</b> – это проценты, которые накапливаются за каждый день, с даты последней выплаты по текущую дату. Если купон был только что выплачен, то размер НКД равен нулю.
              | Зачисление купона на брокерский счет происходит в срок до 7 дней с даты начисления купона.

